.main {
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: 0.02em;
  color: #fff;
  position: relative;
  z-index: 1;
}
.lead {
  margin: 0.4rem 0 0;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: #fff;
}
