.container {
  margin: 60px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.body {
  max-width: 600px;
}
.name {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.04em;
  color: #fff;
}
.comment {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #fff;
}
