.container {
  margin: 60px 0 0;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  @media (max-width: 520px) {
    flex-direction: column-reverse;
  }
}
.body {
  max-width: 600px;
}
.name {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.04em;
  color: #fff;
}
.comment {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn {
  display: inline-block;
  padding: 14px 0 15px;
  min-width: 280px;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.06em;
  text-align: center;
  background: #fff;
  color: #222;
  border-radius: 10px;
  position: relative;
  &-arrow {
    content: "";
    display: inline-block;
    margin: 0 0 1px 10px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #222;
    border-right: 2px solid #222;
    transform: rotate(45deg);
  }
  &-wrap {
    margin: 40px 0 0;
    text-align: right;
  }
}
