.container {
  padding: 40px 0;
}
.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
  position: relative;
  @media (max-width: 991px) {
    padding: 0 6%;
  }
}
.ttl {
  font-weight: 900;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  font-style: italic;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  @media (max-width: 520px) {
    font-size: 2rem;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 100%;
    position: absolute;
    top: 0;
    right: 2%;
    transform: rotate(180deg);
    opacity: 0.5;
  }
}
.line {
  display: inline-block;
  width: 1px;
  background: #ccc;
}
.list {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
.item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
  padding: 40px 0 0;
  @media (max-width: 520px) {
    gap: 0 6%;
  }
}
.body {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: 0.04em;
  @media (max-width: 520px) {
    font-size: 1.6rem;
  }
}
.num {
  font-size: 2.4rem;
  position: relative;
  @media (max-width: 520px) {
    font-size: 2rem;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50px;
    position: absolute;
    top: 55%;
    left: 52%;
    transform: translate(-50%, -50%);
    @media (max-width: 520px) {
      width: 32px;
      height: 32px;
    }
  }
}
