.container {
  padding: 40px 0 20px;
  text-align: center;
  background: #222;
  color: #fff;
  border-top: 1px solid #ccc;
}
.logo {
  font-weight: 900;
  font-size: 2rem;
}
.copy {
  margin: 30px 0 0;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}
